---
import Hero from "../components/Hero.astro";
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import Container from "../components/Container.astro";
import CardRuta from "../components/CardRuta.astro";
---

<Layout title="Ciclismo Home">
     <Header clase="bg-green-700" />
     <Container>
          <Hero
               title="Ciclismo"
               parrafo="Recorrer los paisajes del departamento de Cundinamarca, especialmente en la Provincia de Sabana Centro, es un espectacular libro fotográfico para los recuerdos. Además, a través de respirar aventura diferente el cuerpo se ejercita."
          />
          <h3 class="uppercase my-10">Conoce nuestras rutas</h3>
          <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-9">
               <CardRuta
                    img="https://s0.wklcdn.com/image_271/8151904/72402379/48164889Master.jpg"
                    logo="././public/cicliImg.svg"
                    ruta="Cota - Chia - Valvanera - Tenjo - Tabio - Cota"
                    url="/ciclismo/ruta1"
               />
               <CardRuta
                    logo="././public/cicliImg.svg"
                    img="https://s1.wklcdn.com/image_46/1386321/11937534/7307227Master.jpg"
                    ruta="Zipaquirá – Cogua – Cerro ‘El Pulpito – Cogua – Zipaquirá"
                    url="/ciclismo/ruta2"
               />
               <CardRuta
                    logo="././public/cicliImg.svg"
                    img="https://s0.wklcdn.com/image_248/7466173/70827906/46585515Master.jpg"
                    ruta="Tabio (El Bote) – San Jorge – Tabio – Zipaquirá"
                    url="/ciclismo/ruta3"
               />
          </div>
     </Container>
</Layout>
