---
import Container from "../../components/Container.astro";
import FotosRuta from "../../components/FotosRuta.astro";
import Header from "../../components/Header.astro";
import Ruta from "../../components/Ruta.astro";
import Layout from "../../layouts/Layout.astro";
---

<Layout title="Senderismo ruta 1">
     <Header clase="bg-green-700" />
     <Container>
          <h1 class="text-4xl font-bold text-center mt-10 text-neutral-500">
               Serranía del Majuy, Chía – Cota
          </h1>

          <Ruta
               url="https://www.google.com/maps/embed?pb=!1m28!1m12!1m3!1d248492.88229969758!2d-74.38675723075069!3d4.789580026498614!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m13!3e2!4m5!1s0x8e3f878dd475a989%3A0x4211096980b5302!2sCh%C3%ADa%2C%20Cundinamarca%2C%20Colombia!3m2!1d4.864758!2d-74.050918!4m5!1s0x8e3f86cdc93746ab%3A0x9f4ec4166090b7ca!2sCerro%20Majuy%20-%20Cota%2C%20Vda.%20Sta.%20Cruz%2C%20Tenjo%2C%20Anolaima%2C%20Cundinamarca%2C%20Colombia!3m2!1d4.803007399999999!2d-74.3935662!5e1!3m2!1ses-419!2sus!4v1713137156139!5m2!1ses-419!2sus"
               distancia="7.86 km"
               dificultad="Moderada"
               altitudMaxima="2.996 m"
               altitudMinima="2.569 m"
               duracionTotal="4 h 58 min"
               desivelPositivo="496 m"
               desivelNegativo="494 m"
          />
          <FotosRuta
               foto1="../public/fruta1.svg"
               foto2="../public/fruta2.svg"
               foto3="../public/fruta3.svg"
               ruta1="Peña de Juica, Tabio – Tenjo"
               url1="ruta2"
               ruta2="Páramo de Guerrero, Zipaquirá"
               url2="ruta3"
               ruta3="Cerro El Púlpito, Cogua"
               url3="ruta4"
               logo="../public/sendeImg.svg"
          />
     </Container>
</Layout>
